.App {
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #787a80;
}
.TodoListForm {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.SubmitButton {
  margin: 20px;
}

.todoList {
  padding: 1rem;
  border: 2px solid rgb(96, 139, 168);
  margin: 0.7rem 0.7rem;
  width: 200px;
  justify-content: space-evenly;
}

.todoList > h3 {
  font-size: 20px;
}

.TodoListItem {
  /* width: 500px; */
  display: flex;
  flex-wrap: wrap;
}

.desc {
  color: coral;
}

.task {
  color: aliceblue;
}

.formWidth {
  width: 50%;
  margin: 0 auto;
  color: white;
  font-size: 20px;
}

/* .NavBar {
  height: 50px;
  background-color: turquoise;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.NavBar ul {
  display: flex;
}

.NavBar li {
  margin: 0 20px;
  list-style-type: none;
} */
